.ui.fixed.inverted.menu
  .ui.container
    = link_to root_url, class: 'header item' do
      HungerShack
    = link_to root_path, class: 'item' do
      Link Item
    = link_to root_path, class: 'item' do
      Link Item
    = link_to root_path, class: 'item' do
      Link Item
